/* HOME PAGE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    background: url('IMG_1335(1).png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(169, 169, 169, 0.5); 
    z-index: -1; 
}

.top-content {
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo-image {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.name-container {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.first-name {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.1;
    color: #ffffff;
}

.portfolio-text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #ffffff;
}

.portfolio-button {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.portfolio-button:hover {
    text-decoration: underline;
    color: #ffffff;
}



/* MENU */
.menu-icon {
    width: 30px; 
    height: auto; 
    display: block;
}

.navbar {
    position: fixed; 
    top: 20px;
    left: 20px;
    z-index: 1000; 
    padding: 10px; 
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    display: inline-block;
}

.nav-link {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
    display: inline-block;
    padding: 10px 15px; 
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    min-width: 180px;
    border-radius: 5px;
    z-index: 1000; 
    list-style: none; 
    padding-left: 0;
}

.dropdown-link {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    margin-left: 10px;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown-link:hover {
    text-decoration: underline;
}



/* CONTACT PAGE */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0vh; 
    text-align: center;
    margin-top: 250px;
}

.contact-container h1 {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: none;
    color: #ffffff; 
}

.contact-container p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2rem;
    margin-top: -15px;
    color: #ffffff; 
}

#contact-page {
    margin: 0;
    background: #BFB8B0;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

#contact-page::before {
    content: none; 
}

.linkedin-box {
    padding: none;
    border: none;
    border-radius: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    width: 100px;
    transition: all 0.3s ease;
    color: #ffffff;
    display: inline-block;
    margin-top: -15px; 
}

.linkedin-box:hover {
    text-decoration: underline;
    color: #ffffff;
}



/* ABOUT PAGE */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0vh; 
    text-align: center;
    margin-top: 250px;
}

.about-container h1 {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: none;
    color: #ffffff; 
}

.about-container p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem;
    margin-top: -15px;
    margin-left: 100px;
    margin-right: 100px;
    color: #ffffff; 
}

#about-page {
    margin: 0;
    background: #BFB8B0;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

#about-page::before {
    content: none; 
}



/* PORTFOLIO PAGE */
#portfolio-page {
    margin: 0;
    background: #BFB8B0;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

#portfolio-page::before {
    content: none; 
}

.header-landing {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFB8B0; 
}

.landing-image {
    width: 80%;
    max-width: 600px;
    height: auto;
}

.designs-container p {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 1.2rem;
    color: #ffffff; 
}

.image-container {
    width: 100%; 
    max-width: 500px; 
    height: auto;  
    display: block;
    margin-bottom: 0px;  
    margin-top: 140px;
}

.designs-container {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.design-section {
    margin-bottom: 50px;
}

.images-row {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
}

.design-image {
    max-width: 25%;  
    height: auto;   
    border-radius: 0px;  
    object-fit: contain;
}
